# OS
.DS_Store
*.swp

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/tfplan
terraform/*.log

# Docker
.env

# IDE
.idea/
.vscode/
